.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "side main main main"
    "side main main main"
    "side main main main"
    "side foot foot foot";
}
.side {
  grid-area: side;
  background-color: antiquewhite;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.foot {
  grid-area: foot;
  text-align: center;
}

.main img {
  width: 100%;
  height: 100%;
}

/* This styles a particular cell identified with the id "wow", in the grid called main */
/*
#wow {
  border: 1px dashed red;
} */
