a {
  font-size: small;
  text-align: center;
  color: rgb(209, 238, 209);
}

p {
  color: rgb(209, 238, 209);
  font-size: small;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Roboto Mono", monospace;
  cursor: crosshair;
  color: rgb(209, 238, 209);
}

.main {
  outline: 1px red solid;
  width: 90%;
  max-height: 700px;
  max-width: 1500px;
  height: 100vh;
  margin: auto;
  margin-top: 3%;
  margin-left: 5%;
  text-align: center;
  vertical-align: middle;
  padding: 0%;
  position: absolute;
}

.main > div {
  display: grid;
  align-items: center;
  justify-content: center;
}

.topWrapper {
  /* outline: 1px red solid;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-height: 1000px;
  max-width: 1500px;

  height: 90vh; */
  /* margin: auto; */

  display: grid;
  grid-template-columns: 5fr 1fr 8fr 1fr 1fr;
  grid-row-gap: 13.7vh;
}

.bottomWrapper {
  /* outline: 1px red solid;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-height: 1000px;
  max-width: 1500px; */

  /* margin: auto; */

  display: grid;
  /* position: fixed; */
  /* background-color: rgb(90, 77, 77); */
  grid-template-columns: 1.2fr 1.2fr 8fr 0.5fr 0.5fr 0.5fr;
}

.zero {
  outline: 1px red solid;
  /* background-color: cyan; */
  width: 100%;

  grid-row: 1;
  height: 80px;
  cursor: pointer;
}
.one {
  outline: 1px red solid;
  grid-row: 1;
  width: 100%;
  /* background-color: blueviolet; */
  height: 80px;
  cursor: pointer;
}
.two {
  outline: 1px red solid;
  grid-row: 1;
  width: 100%;
  /* background-color: brown; */
  height: 80px;
  cursor: pointer;
}
.three {
  outline: 1px red solid;
  grid-row: 1/7;
  width: 100%;
  /* background-color: cadetblue; */
  height: 80px;
  cursor: pointer;
}
.four {
  outline: 1px red solid;
  grid-row: 1;
  width: 100%;
  /* background-color: chartreuse; */
  height: 80px;
  cursor: pointer;
}
.five {
  outline: 1px red solid;
  grid-row: 1;
  width: 100%;

  /* background-color: coral; */
  height: 80px;
  cursor: pointer;
}
.six {
  outline: 1px red solid;
  grid-row: 1;
  width: 100%;
  /* background-color: cornsilk; */
  height: 80px;
  cursor: pointer;
}

.seven {
  outline: 1px red solid;
  grid-row: 1;
  /* background-color: darkcyan; */
  height: 80px;
  cursor: pointer;
}

.eight {
  outline: 1px red solid;
  grid-row: 1;
  /* background-color: deepskyblue; */
  height: 80px;
  cursor: pointer;
}

.nine {
  outline: 1px red solid;
  grid-row: 1;
  /* background-color: lime; */
  height: 80px;
  cursor: pointer;
}

.ten {
  outline: 1px red solid;
  grid-row: 1;
  /* background-color: tomato; */
  height: 80px;
  cursor: pointer;
}

#mushroom {
  z-index: -1;
  width: 300px;
  position: relative;
  padding-top: 20%;
  padding-left: 40%;
  cursor: pointer;
}
