/* can you make the image appear*/
/* try different display parameters and different float parameters on it*/

h1 {
  border: 1px solid red;
  background-color: pink;
}

p {
  border: 1px solid green;
  display: block;
}

img {
  width: 200px;
  display: none;
  float: none;
}
